  .header {
    width: 100%;
    float: left;
    max-height: 15%;
    top: 0%;
    position: absolute;
    left: 0%;
    text-align: center;
    background-color: #376A4B;
    color: white;
    font-size: 1vw;
  }
  .search{
    width: 98%;
    float: left;
    height: 6%;
    background-color: #ADA080;
    padding: 1%;
    margin-left: 0px;
    bottom: 0%;
    top: 0%;
  }

  #search{
    float: left;
    max-width: 20%;
    min-height: 1%;
    max-height: 2%;
    background: #E7E5E5;
    padding-left: 2px; border: none; outline: none;
  }

  h2{
  font-size: 24px;
  text-align: center;
}
  .animal{
    margin-top: 11%;
    width: 100%;
  }
  img{
    width: 40%;
    margin-left: 3%;
    margin-right: auto;
    float: left;
    border: solid 3px;
  }
  p{
    width: 45%;
    margin-left: 3%;
    margin-right: auto;
    float: left;
  }
  .footer{
    margin-top: 45%;
    margin-bottom: 0%;
    width: 100%;
    text-align: center;
    background-color: #376A4B;
    color: white;
    height: 5%;

  }
  @media screen and (max-width: 800px) {
    img, p {
      width: 100%;
      margin-left: 0px;
      /* The width is 100%, when the viewport is 800px or smaller */
    }
